.App {
  text-align: center;
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);


  width: 95%;
  padding: 10px;
  border-radius: 10px;
  margin:  10px auto;
  box-shadow: 2px 2px 300px #ffffff;
  
}
.title{
  color: rgb(255, 255, 255);
}

.title h1{
  padding:  20px;
}
